In [2]:
using JLD
using CSV
using DataFrames

In [5]:
sparse_x = CSV.read("FARMM/sparse_XFARMM.csv", DataFrame)
sparse_X = convert(Matrix{Int64}, sparse_x)

MethodError: MethodError: Cannot `convert` an object of type DataFrame to an object of type Matrix{Int64}

Closest candidates are:
  convert(::Type{T}, !Matched::LinearAlgebra.Factorization) where T<:AbstractArray
   @ LinearAlgebra /Applications/Julia-1.9.app/Contents/Resources/julia/share/julia/stdlib/v1.9/LinearAlgebra/src/factorization.jl:59
  convert(::Type{Array{S, N}}, !Matched::PooledArrays.PooledArray{T, R, N}) where {S, T, R, N}
   @ PooledArrays ~/.julia/packages/PooledArrays/Vy2X0/src/PooledArrays.jl:499
  convert(::Type{T}, !Matched::AbstractArray) where T<:Array
   @ Base array.jl:613
  ...

In [6]:
sparse_x

41084×4 DataFrame
   Row │ V1     V2     V3     V4
       │ Int64  Int64  Int64  Int64
───────┼────────────────────────────
     1 │     1      1      1     -1
     2 │     1      1      8     77
     3 │     1      1      9     -1
     4 │     1      2      6     -1
     5 │     1      3      1     -1
     6 │     1      3      9     -1
     7 │     1      4      2     -1
     8 │     1      4      6     -1
   ⋮   │   ⋮      ⋮      ⋮      ⋮
 41078 │   343     29      4     38
 41079 │   343     29      5      2
 41080 │   343     30      2    518
 41081 │   343     30      3    169
 41082 │   343     30      5     61
 41083 │   343     30      6    180
 41084 │   343     30      7     57
                  41069 rows omitted

In [7]:
using DelimitedFiles
sparse_X = readdlm("FARMM/sparse_XFARMM.csv", ',', Int64, header=true)[1]

41084×4 Matrix{Int64}:
   1   1  1    -1
   1   1  8    77
   1   1  9    -1
   1   2  6    -1
   1   3  1    -1
   1   3  9    -1
   1   4  2    -1
   1   4  6    -1
   1   6  1    -1
   1   6  9    -1
   ⋮
 343  29  2   196
 343  29  3  1986
 343  29  4    38
 343  29  5     2
 343  30  2   518
 343  30  3   169
 343  30  5    61
 343  30  6   180
 343  30  7    57

In [8]:
Y = zeros(Int64, maximum(sparse_X[:,1]), maximum(sparse_X[:,2]), maximum(sparse_X[:,3]))

for i in 1:size(sparse_X, 1)
    Y[sparse_X[i,1], sparse_X[i,2], sparse_X[i,3]] = sparse_X[i,4]
end

In [9]:
using StatsBase
mean(Y.==0)

0.7504616132167152

In [10]:
save("FARMM/Y.jld", "Y", Y)